<form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="bookingService.selectedBooking.$key">
  <div class="form-group">
    <label>Customer Name*</label>
    <input class="form-control" name="CustomerName" #CustomerName="ngModel" [(ngModel)]="bookingService.selectedBooking.CustomerName" placeholder="Customer Name" required>
  </div>
  <div class="form-group">
    <label>Customer Phone 1*</label>
    <input inputmode="tel" minlength="11" maxlength="11" class="form-control" name="CustomerPhone1" #CustomerPhone1="ngModel" [(ngModel)]="bookingService.selectedBooking.CustomerPhone1" placeholder="Phone Number" required>
  </div>
  <div class="form-group">
    <label>Customer Phone 2</label>
    <input inputmode="tel" minlength="11" maxlength="11" class="form-control" name="CustomerPhone2" #CustomerPhone2="ngModel" [(ngModel)]="bookingService.selectedBooking.CustomerPhone2" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <label>Booking Date*</label>
    <input type="text" ngbDatepicker class="form-control" name="BookingDate" #BookingDate="ngModel" [(ngModel)]="bookingService.selectedBooking.BookingDate" required>
  </div>
  <div class="form-group">
    <label>Head Count*</label>
    <input type="number" pattern="^[1-9]\d*$" class="form-control" name="HeadCount" #HeadCount="ngModel" [(ngModel)]="bookingService.selectedBooking.HeadCount" placeholder="Head Count" required>
  </div>  
  <div class="form-group">
    <label>Total Booking Amount*</label>
    <input type="number" pattern="^[1-9]\d*$" class="form-control" name="TotalBookingAmount" #TotalBookingAmount="ngModel" [(ngModel)]="bookingService.selectedBooking.TotalBookingAmount" placeholder="Total Booking Amount" required>
  </div>
  <div class="form-group">
    <label>Advance Amount*</label>
    <input type="number" pattern="^[0-9]\d*$" class="form-control" name="AdvanceAmount" #AdvanceAmount="ngModel" [(ngModel)]="bookingService.selectedBooking.AdvanceAmount" placeholder="Advance Amount" required>
  </div>
  <div class="form-group">
    <label>Package</label>
    <input class="form-control" name="Package" #Package="ngModel" [(ngModel)]="bookingService.selectedBooking.Package" placeholder="Package">
  </div>
  <div class="form-group">
      <div class="input-group-append">
          <div class="input-group">
            <label>Table Services</label>
            <input type="checkbox" value="false" class="form-control" name="TableServiceFlag" #TableServiceFlag="ngModel" [(ngModel)]="bookingService.selectedBooking.TableServiceFlag">
          </div>      
      </div> 
   </div>
  <div class="form-group">
      <div class="input-group-append">
        <div class="input-group">
          <label>Sound System</label>
          <input  type="checkbox" value="false" class="form-control" name="SoundSystemFlag" #SoundSystemFlag="ngModel" [(ngModel)]="bookingService.selectedBooking.SoundSystemFlag" >
        </div>      
      </div>  
  </div>
  <div class="form-group">
    <label>Number Of Crates</label>
    <input type="number" pattern="^[0-9]\d*$" class="form-control" name="NumberOfCrates" #NumberOfCrates="ngModel" [(ngModel)]="bookingService.selectedBooking.NumberOfCrates" placeholder="Number Of Crates">
  </div>
  <div class="form-group">
    <label>Number Of Waiters</label>
    <input type="number" pattern="^[0-9]\d*$" class="form-control" name="NumberOfWaiters" #NumberOfWaiters="ngModel" [(ngModel)]="bookingService.selectedBooking.NumberOfWaiters" placeholder="Number Of Waiters">
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled] = !bookingForm.valid>
    <i class="fa fa-floppy-o"></i>
      Submit
    </button>
    <button class="btn btn-default" type="button" (click)="resetForm(bookingForm)">
      <i class="fa fa-repeat"></i>
      Reset</button>
  </div>
</form>