/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px; 
 }
 .starter-template {
     padding: 3rem 1.5rem;
     text-align: left;
 }

 input.ng-invalid.ng-dirty
 {
     border: 1px solid red;
 }

 
.table-div {
  overflow: auto;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }

  td.mat-column-Edit {
    width: 5px;
    padding-right: 2px;
  }